.buttonsoftware{
    background-color: rgba(0, 0, 0, 0);
border: none;
border-radius: 50%;
color: black;
cursor: auto;
}

.b{
    display: inline-block;
    width: 50%;
    height: auto;
    padding: 5px;
    
}

.div_bar{
    background-color: rgba(0, 0, 0, 0);
    /* width: 200px; */

}

.button {
    background-color: black; /* Green */
    border: none;
    border-radius: 50px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: inline-block;
    box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.342);
  }

@media (max-width: 800px) {
    /* .buttonsoftware{
        background-color: red;
border: none;
border-radius: 50%;
color: black;
cursor: auto;
    } */
  }