.buttonsoftware{
    background-color: rgba(0, 0, 0, 0);
border: none;
border-radius: 50%;
color: black;
cursor: auto;
}

.b{
    display: inline-block;
    width: 50%;
    height: auto;
    padding: 5px;
    
}

.div_bar{
    background-color: rgba(0, 0, 0, 0);
    /* width: 200px; */

}

@media (max-width: 800px) {
    /* .buttonsoftware{
        background-color: red;
border: none;
border-radius: 50%;
color: black;
cursor: auto;
    } */
  }