
  body{
      
      background: #171717;
  }

  .particles{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100vw;
      background-size: cover;
      background-position: 50% 50%;
      display: block;
  }